-fx-color: #ececec;

.button {
	-fx-focus-color: transparent;
}

.titled-pane {
	-fx-text-fill: white;
}

.titled-pane .title {
	-fx-background-radius: 10 10 0 0;
	-fx-background-color: black;
	-fx-border-width: 1;
	-fx-border-color: gold;
    -fx-border-radius: 10 10 0 0;
	-fx-border-insets: 1;
	-fx-opacity: 0.75;
}

.titled-pane .content {
	-fx-border-width: 2;
	-fx-border-color: radial-gradient(center 50% 0%, radius 120%, gold, black);
	
}

.tree-points {
	-fx-text-fill: white;
}

.points-pane {
	-fx-border-style: solid;
	-fx-border-radius: 5;
	-fx-border-color: radial-gradient(center 50% 50%, radius 90%, gold, black);
	-fx-border-width: 1.5;
}

.custom-set-pane {
	-fx-border-style: solid;
	-fx-border-radius: 5;
	-fx-border-color: radial-gradient(center 50% 50%, radius 90%, gold, black);
	-fx-border-width: 1.5;
	-fx-text-fill: gold;
}

.pane-title-label {
	-fx-background-color: white;
}

#talentPoints {
	-fx-background-color: black;
	-fx-opacity: 0.75;
	-fx-border-insets: 1;
	-fx-border-color: gold;
	-fx-border-width: 0.5;
	-fx-text-fill: white;
}

.class-btn {
	-fx-border-radius: 4;
	-fx-border-style: solid;
	-fx-border-color: #32CD32;
	-fx-border-width: 1.5
}

.choice-box {
	-fx-background-color: black;
	-fx-opacity: 0.75;
	-fx-border-style: solid;
	-fx-border-color: #32CD32;
	-fx-border-width: 1.5;
}

.choice-box .context-menu {
	-fx-background-color: black;
	-fx-opacity: 0.75;
}

.choice-box .arrow {
	-fx-background-color: gold;
}

.choice-box .radio {
	-fx-background-color: gold;
}

.choice-box .menu-item:focused {
	-fx-background-color: transparent;
	-fx-border-radius: 4;
	-fx-border-style: solid;
	-fx-border-color: #32CD32;
	-fx-border-width: 1;
}
.choice-box * {
	-fx-text-fill: white;
}

.focused {
	-fx-background-color: radial-gradient(center 50% 50%, radius 100%, white, gold, #32CD32);
}